@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
html, body {
  margin: 0;
  min-height: 100%;
  height: 100%;
  width: 100%;
}
body {
  background-color: blue;
 
  display: grid;
  grid-template-rows: 1fr 6fr;
  
}

/* HEADER */
.header {
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  background-color: #F76C6C;
  
  color: white;
  padding: 0 25px;
}

.logo-section, .new-list-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
}

.logo-section {
  gap: 20px;
  font-weight: bold;
}

/* NAV (LEFT SIDE) */

.new-list-section {
  padding-right: 15px;
}

#addListButton {
  border: none;
  border-radius: 50%;
  background-color: #78df80;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.5rem;
}

#addListButton:hover {
  cursor:pointer;
  background-color: #8aea92;

}

.main {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.nav {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  width: 250px;
}

.section-title {
  padding: 10px 0 10px 10px;
}

.lists {
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 2;
}

.list {
  padding: 10px 15px;
  background-color: #BDC2BF;
  border-bottom: 2px solid #9a9f9c;
  font-size: 1.2rem;
  font-weight: bold;
}

.list:last-child {
  border-bottom: none;
}

.list:hover {
  background-color: #9f9f9f;
}

.content {
  background-color: #feffff;
}

.list-tasks {
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
}

.task {
  width: 100%;
  height: 50px;
  background-color: #d5dbd7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}

.task:hover {
  background-color: #d1d1d1;
}

.task-title {
  font-size: 1.5rem;
  padding-left: 25px;
}

.task-right {
  display: flex;
  gap: 25px;
  padding-right: 25px;
  align-items: center;
  justify-content: center;
}

.add-list-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

#newList {
  display: flex;
  flex-direction: column;
}

input {
  height: 50px;
  font-size: 15px;
  padding-left: 15px;
}