@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
html, body {
  margin: 0;
  min-height: 100%;
  height: 100%;
  width: 100%;
}
body {
  background-color: blue;
 
  display: grid;
  grid-template-rows: 1fr 4fr;
  
}

/* HEADER header, logo-section, title, */
.header {
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  background-color: #F76C6C;
  
  color: white;
  padding: 0 25px;
}

.header-title-section{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  gap: 20px;
  font-weight: bold;
}

/* NAV (LEFT SIDE) main, nav, section-title, add-list, new-list-section, addListButton, lists*/
.main {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.nav {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 100%;
}

.add-list-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#addListButton {
  border: none;
  background-color: #78df80;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.5rem;
  padding: 5px;
  margin-right: 15px;
}

#addListButton:hover {
  cursor:pointer;
  background-color: #8aea92;

}

.section-title {
  padding: 10px 0 10px 10px;
}

.lists {
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 2;
}

.list {
  padding: 10px 15px;
  background-color: #BDC2BF;
  border-bottom: 2px solid #9a9f9c;
  font-size: 1.2rem;
  font-weight: bold;
}

.list:last-child {
  border-bottom: none;
}

.list:hover {
  background-color: #9f9f9f;
}

/* Main Content (Right Side) */

.content {
  background-color: #feffff;
}

.list-tasks {
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
}

.task {
  width: 100%;
  height: 50px;
  background-color: #d5dbd7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}

.task:hover {
  background-color: #d1d1d1;
}

.task-title {
  font-size: 1.5rem;
  padding-left: 25px;
}

.task-right {
  display: flex;
  gap: 25px;
  padding-right: 25px;
  align-items: center;
  justify-content: center;
}

.delete:hover {
  cursor: pointer;
}


/* Add new list menu */
#newList {
  display: flex;
  flex-direction: column;
}

input[name=listTitle] {
  font-size: 15px;
  padding: 5px 0 5px 15px;
  border: none;
}
input[name=listTitle]:active {
  border: none;
  appearance: none;
}

input[name=listTitle]:focus {
  border: none;
  appearance: none;
  outline: none;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.submit-list-button,
.cancel-list-button {
  margin-top: 15px;
  padding: 10px 15px;
}